// // var
$body-color:#fff;
$footer-color:darkslateblue;
// цвет кноки
$color-btn: #ff9d00;
// цвет текста subtitle
$color-text:#999;
//  hover - текста меню
$color-text-hover:#e4ec04;
// цвет заглавного цвета
$color-title:#ff9d00;
//цвет ссылки 
$color-link:#aeb002;


// цвет секции 
$color-serction:#f4f4f4;

@import '_misc/normalize';
@import '_misc/mixnin';
@import '_misc/fonts';
@import '_misc/adjusment';
@import 'page/header';
@import 'page/sidebar';
@import 'page/films';
@import 'page/posts';
@import 'page/film-block';
@import 'page/reviews';

@import 'page/footer';



