

.header {
  background-color: darkslateblue;
  margin-bottom: 20px;
}
.logo {
  padding-bottom: 40px;
}
.logo__title, .logo__subtitle {
  font-family: 'century gothic',Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 0 9px;
}
.logo__title {
  padding: 22px 0 0 0;  
}
.logo__title-link {
  color: #fff;
  &:hover {
    color: $color-text;
  }
}
.logo__subtitle {
  font-size: 0.9em;
  padding: 4px 0 0 0;  
}

.logo__subtitle-link {
  color: $color-text;
}
.nav {
  padding-top: 15px;
  padding-bottom: 35px;
}
.menu {
  display: flex;
  justify-content: flex-end;
 
}
.menu--acktiv .menu__link  {
  color:#aeb002;
}

.menu__link {
  color: #fff;
  font-family: 'trebuchet ms', sans-serif;
  font-weight: normal;
  padding: 6px 35px 5px 28px;
  &:hover {
    color: $color-text-hover;
  }
}
.main__wrapper {
  display: flex;
}
.main__left {
  width: 65%;
}

.main__rigth {
  width: 35%;
}
