@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){
  .wrapper {
    min-width: 0px;
  }
  .container {
    width: 100%;
    padding: 0 3%;
  }
  .films__content {
    justify-content: space-between;
  }
  .films__link {
    margin-left: 0;
  }
  .footer {
    min-width: 0px;
  }
  
// конец стилей медия
}
@media screen and (max-width: 768px){
  .menu__link {
    padding: 6px 5px 5px 11px; 
  }
 
  
  .sidebar {
  display: none;
}
.main__left {
  width: 100%;
}
.main__rigth {
  width: 0;
}
// конец стилей медия
}

@media screen and (max-width: 576px){
  .header__logo {
    text-align: center;
}
  .logo {
    padding-bottom: 20px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__link {
  padding: 0;
}
.menu {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu__item {
  padding-bottom: 10px; 
}

.films__link {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; 
}
.films__pic {
  width: 173px;
  height: 231px; 
}
.films__link:nth-child(4n+1) {
 margin-left: auto; 
}
.main__left {  
   margin-left: 0px;
}
.title {
  text-align: center;
}

.posts__desc {
  text-align: center;
}
.posts__desc p {
  text-align: center; 
}

.menu--border {
  border-right: none;
}



.copy__text {
  font-size: 0.7em;
}
.menu--footer {
  margin-bottom: 0;
}

.footer {
  padding-bottom: 10px;
  padding-top: 10px;
}


  // конец стилей медия
}
  
