.table__rating {
 width: 100%;
 border: 1px solid #f4f4f4;
 margin-bottom: 2%;
}

td {
   padding: 2%;
   border: 1px solid #f4f4f4;
}
.table__pic {
   width: 60px;
   vertical-align: middle;
}
.link--color {
  color:$color-link;
}
.center {
   text-align: center;
}
.left {
   text-align: left;
}
.bold {
   font-weight: bold;
}