.reviews {
  margin-bottom: 4%;
  font-size: 0.9em;
}
.revies__desc {
  margin-bottom: 30px;
}
.reviews__name {
  background-color: #7268ad;
  color: white;
  padding: 1%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}